<ion-header class="ion-no-margin ion-no-padding">
  <ion-toolbar class="ion-no-margin ">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col size="6" class="ion-no-padding ion-no-margin ion-col-g">
        <img alt="G" [ngSrc]="assetsUtil.gSVG" height="24" width="24" />
      </ion-col>
      <ion-col size="6" class="ion-no-padding ion-no-margin ion-text-end">
        <img alt="userG" class="img-userg" [ngSrc]="assetsUtil.usergSVG" height="28" width="28" />
        <label class="label-nome-usuario">{{nomeUsuario}}</label>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>
