.span-meus {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #00A6CB;
}
.span-contatos {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #003459;
}
.ion-row-meus-contatos {
  margin: 0 0 16px 0;
}
.ion-col-filtrar {
  padding: 0 0 0 16px;
}
.ion-row-filtro-pesquisa {
  margin: 0 0 12px 0;
}
.ion-row-contatos {
  margin: 0 0 12px 0;
}
